<tr>
  <td style="font-family:Helvetica,Arial,sans-serif !important;background-color:<%= highlight_bgcolor -%>;color:<%= highlight_color -%>;">
    <!-- 1 row of 3 cells each containing a 2 row table -->
    <table dir="<%= dir_for_locale %>" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica,Arial,sans-serif !important;">
      <tr>
        <!-- loop through header_metadata array -->
        <%- @data[:header_metadata].each do |data| -%>
          <td>
            <table dir="<%= dir_for_locale %>" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica,Arial,sans-serif !important;border-collapse:collapse;">
              <tr>
                <td style="padding: 12px 0 12px 0;background-color:<%= highlight_bgcolor -%>;color:<%= highlight_color -%>;font-weight:400;font-size:36px;font-family:Helvetica,Arial,sans-serif !important;text-align:center;">
                  <strong><%= data[:value] -%></strong>
                </td>
              </tr>
              <tr>
                <td style="background-color:<%= highlight_bgcolor -%>;color:<%= highlight_color -%>;font-size:14px;font-weight:400;font-family:Helvetica,Arial,sans-serif !important;text-align:center;">
                  <strong><%= t data[:key] -%></strong>
                </td>
              </tr>
            </table>
          </td>
        <%- end -%>
      </tr>
    </table>
  </td>
</tr>
